apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cloudflared
  namespace: cloudflare
spec:
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:2024.11.1
        args:
        - tunnel
        - --no-autoupdate
        - --protocol
        - http2
        - run
        - --token
        - $(TUNNEL_TOKEN)
        env:
        - name: TUNNEL_TOKEN
          valueFrom:
            secretKeyRef:
              name: cloudflare-tunnel-credentials
              key: tunnel-token
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - 'wget -q -O /dev/null http://127.0.0.1:2000/ready || exit 1'
          failureThreshold: 3
          initialDelaySeconds: 20
          periodSeconds: 30
          timeoutSeconds: 5
