apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scraper-data
  namespace: web-scraper
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: local-path
